.BackgroundWrapper{
    background-image: url("../../public/webBackground.svg");
    height: 560px;
}

.TextContainer{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:481px) {
    .BackgroundWrapper{
        background-image: url("../../public/mwebBackground.svg");
        width: 390px;
        height: 480px;
    }
}